---
import Layout from "../layouts/Layout.astro";
import StepByStep from "../components/StepByStep.astro";
---

<Layout title="Eco Net">
  <header class="banner">
    <div class="banner-content">
      <div class="text-content">
        <h1>Eco Net</h1>
        <p>Venimos a transformar el mundo, reciclando por un futuro mejor.</p>
        <button class="contact-button">
          <a
            href="mailto:empresaeconet202407@gmail.com?subject=Interesado%20en%20colaborar%20con%20Eco%20Net&body=Hola%20Eco%20Net%2C%0A%0AEstoy%20interesado%20en%20conocer%20m%C3%A1s%20sobre%20su%20proyecto%20y%20c%C3%B3mo%20podr%C3%ADa%20contribuir%20a%20su%20misi%C3%B3n.%20Por%20favor%2C%20cont%C3%A1ctenme%20para%20conversar%20m%C3%A1s.%0A%0AGracias%20por%20su%20atenci%C3%B3n.%0A%0ASaludos%2C%0A[Tu%20Nombre]"
            class="contact-link"
          >
            Contáctanos
          </a>
        </button>
      </div>
      <div class="image-content">
        <img src="/logo.png" alt="Imagen de reciclaje" />
      </div>
    </div>
  </header>

  <StepByStep />

  <style>
    .banner {
      background-color: #eaf5ea;
      background-size: cover;
      background-position: center;
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #2b5938;
      font-family: Arial, sans-serif;
    }

    .banner-content {
      max-width: 1200px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }

    .text-content h1 {
      font-size: 3.7rem;
      margin: 0;
    }

    .text-content p {
      font-size: 1.6rem;
      margin-top: 0.5rem;
      max-width: 400px;
    }

    .image-content img {
      max-width: 100%;
      height: 250px;
      border-radius: 8px;
    }

    .contact-button {
      background-color: #2b5938;
      color: white;
      padding: 0.8rem 1.5rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1.2rem;
      text-transform: uppercase;
      transition: background-color 0.3s ease;
    }

    .contact-button:hover {
      background-color: #1e3f29;
    }

    .contact-link {
      text-decoration: none;
      color: white;
    }

    .contact-button:active {
      transform: scale(0.98);
    }

    /* Responsividad */
    @media (max-width: 768px) {
      .banner-content {
        flex-direction: column;
        text-align: center;
      }
      .text-content h1 {
        font-size: 2rem;
      }
      .text-content p {
        font-size: 1rem;
      }
      .image-content img {
        max-width: 100%;
        margin-top: 1rem;
      }
    }
  </style>
</Layout>
